// @import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
// @import '~office-ui-fabric-react/dist/sass/_References.scss';

.hidden {
    display: none
}
.quillWrapper {
    border: 1px solid rgb(96, 94, 92);
    border-radius: 0 0 2px 2px;
}

.quillWrapperError {
    border: 1px solid #a80000;
    border-radius: 0 0 2px 2px;
}
  
.quillWrapperHover {
    border: 1px solid Black;
    border-radius: 0 0 2px 2px;
}

.quillWrapperFocus {
    border: 2px solid rgb(0, 120, 212);
    border-radius: 0 0 2px 2px;
}

.quillWrapperFocusError {
    border: 2px solid #a80000;
    border-radius: 0 0 2px 2px;
}

.borderFix {
    border: 1px solid transparent;
}