// @import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
// @import '~office-ui-fabric-react/dist/sass/_References.scss';

.hidden {
    display: none
}

.quillWrapper {
    border: 1px solid rgb(96, 94, 92);
    border-radius: 0 0 2px 2px;
}

.hover {
    border: 1px solid Black;
}

.focus {
    border-width: 2px;
    border-color: rgb(0, 120, 212);
}

.error {
    border-color: #a80000;
}

.borderFix {
    border: 1px solid transparent;
}